*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5;
}
:root  
{
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --white: #F1F1F1;
    --black: #000000;

}



.body-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    
    background-color: var(--violet);
    
}

.bd-container__container
{
    width: 80%;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.body-container__bg
{
    position: absolute;
    width: 100%;
    height: 50vh; 
    top: 0;
    background: url(./images/bg-mobile.svg) top/cover no-repeat;
   background-size: size;
}
.body-container__logo
{
    position: absolute;
    top: 60px;
    left: 0;
    display: block;
    width: 150px;
    height: 30px;
    background: url(./images/logo.svg) center/cover no-repeat;
}
.body-container__hero
{
    width: 100%;
    height: 300px;
    z-index: 1;
    background: url(./images/illustration-mockups.svg) center/cover no-repeat;
    background-size: contain;
}
.body-container__information
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 380px;
    flex-direction: column;
    gap: 40px;
    color: var(--white);

}
.body-container__information h1
{
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    font-family: 'Poppins', serif;
    font-weight: bold;
}
.body-container__information p
{
text-align: center;
font-size: 1.2rem;
line-height: 25px;
font-family: 'Open Sans', serif;
}
.body-container__information button
{
 width: 70%;
 height: 45px;
 background-color: var(--white);
 color: var(--violet);
 border-radius: 50px;
 border: none;
 cursor: pointer;
    
}
